<app-nav></app-nav>
<div class="container">
    <div class="msg">
        <h3>My prescription</h3>
        
    </div>
    <div>
        <div class="list-group">
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">1 x Bronclear Cough</h5>
                <small>100ml</small>
              </div>
              <p class="mb-1">Helps with fever and othe dhdhdhdhdhd</p>
              
              <div class="d-flex w-100 justify-content-between">
                
                <small>Take 2, 3 times a day for adults.</small>
                <h5 class="mb-1">R49</h5>
                
              </div>
            </li>
            <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">1 x Bronclear Cough</h5>
                      <small>100ml</small>
                    </div>
                    <p class="mb-1">Helps with fever and othe dhdhdhdhdhd</p>
                    
                    <div class="d-flex w-100 justify-content-between">
                      
                      <small>Take 2, 3 times a day for adults.</small>
                      <h5 class="mb-1">R49</h5>
                      
                    </div>
            </li>
            <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">SERVICE FEE</h5>
                      <h5 class="mb-1">R20</h5>
                    </div>
            
                  </li>
            <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h4 class="mb-1">TOTAL</h4>
                      <h5 class="mb-1">R49</h5>
                    </div>
            
                  </li>
            <li class="list-group-item">
                
            </li>
            <button class="btn btn-action btn-lg">Check Out</button>
            <a>check prices</a>
          </div>
    </div>
    
</div>
